@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&family=Space+Mono:wght@700&display=swap');
body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
    align-items: center;
    position: relative;
    text-align: center;
    margin: auto;
}

.headers{
    z-index:3;
}
.topnav {
    display: flex;
    justify-content: space-between;

    width: 100%;
    color: #ffffea;
    text-align: left;
    background-color: #681313;
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 5px 15px;
}
.topnav h1{
    margin: 0px;
    padding: 14px 25px;
}
.topnav-right{
    float: right;
    justify-content: space-between;

    background-color: #681313;
    color: #ffffea;
    display: flex;
    align-items: center;

}
.botnav{
    position: absolute;
    bottom:0;
    float: right;
    justify-content: space-between;
    background-color: #681313;
    color: #ffffea;
    text-align: center;
}


.cool-title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding-left: 24px
}

.main {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding:0px;
    margin-bottom: 0px;
    align-items: center;
    z-index: 3;
}

.biggest-title {
    color: #681313;
    font-family:'Space Mono', monospace;
    font-size: 90px;
    font-weight: bold;
}
.second-title {
    color: #681313;
    font-size: 60px;
    font-weight: none ;
    text-align: center;
    font-style: italic;

}
a:link, a:active, a:visited{
    color:#ffffea;
    text-decoration: none;
    background-color: #681313;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    font-size:20px;
    font-weight: bold;
}
a:hover {
    color: #e7d48f;
    text-decoration: none;
    background-color: #681313;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
  }
p {
    font-weight: bold;
    font-size: 24px;
}

button {
    background-color: #681313;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
}

#start {
    background-color: #681313;
    padding: 5px 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 2px;
    font-weight: bold;
    font-size: 20px;
}
#tamuHACK {
    background-color: #681313;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

#page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:100px;
  }
  
html {
    scroll-behavior: smooth;
    background-color: #ffffea;

  }

  #beginPage {
    height: 600px;
    background-color: #ffffea;
    z-index: 1;
  }
  
  #game {
    height: 800px;
    background-color: #ffffea;
    z-index:1;
    align-self:center;
    padding:2px;
  }


