@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&family=Space+Mono:wght@700&display=swap');

body{
    background:#681313;
    font-family:'Space Mono', monospace;

}
.app{
    background:#ffffea;
    max-width:500px;
    padding: 30px;

}

.app h1{
    font-weight:25px;
    color: #001e4d;
    border-bottom: 30px;
    padding-bottom:30px;
    margin: auto;
}

.btn{
    background:#ffffea;
    width:100%;
    border:2px;
    padding: 15px;
    font-family:'Space Mono', monospace;

}

.btn:hover{
    background:#b8b8ab;

}
.quiz h2{
    font-size:18px;
    color:#001e4d;
    
}