@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&family=Space+Mono:wght@700&display=swap');

body{
    background:#681313;
    font-family:'Space Mono', monospace;

}
.app{
    background:#ffffea;
    max-width:500px;
    width: 90%;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;

}

.app h1{
    font-weight:25px;
    color: #001e4d;
    font-weight:600;
    border-bottom: 15px;
    /* padding-bottom:30px; */
}
.quiz{
    padding:20px 0;
}

a:link, a:active, a:visited{
    color:#ffffea;
    text-decoration: none;
}

#next-btn{
    background:red;
    color: white;
    font-weight:300;
    font-family:'Space Mono', monospace;
    width:150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-weight: bold;
}

.btn{
    background:#ffffea;
    width:100%;
    border:2px;
    padding: 15px;
    font-family:'Space Mono', monospace;
    margin: 10px;
}

.btn:hover:not([disabled]){
    background:#b8b8ab;
}

.btn:disabled{
    cursor: no-drop;
}

.quiz h2{
    font-size:18px;
    color:#001e4d;
    font-weight:600;
}
.correct{
    background:green;
    color: #ffffea;
}
.incorrect{
    background:red;
    color: #ffffea;

}